<div class="container">
    <div>
        Order by <select id="orderby">
            <option value="default" label="None" selected="selected"></option>
            <option value="pricelh">Price low to high</option>
            <option value="pricehl">Price high to low</option>
            <option value="titleaz">Title A-Z</option>
            <option value="titleza">Title Z-A</option>
        </select>
        Manufacturer <select id="manufacturer">
            <option value="default" label="None" selected="selected"></option>
        </select>
        Catogory <select id="catogory">
            <option value="default" label="None" selected="selected"></option>
        </select>
        Price <select id="price">
            <option value="default" label="None" selected="selected"></option>
        </select>
    </div>
    <div class="row">

        <div class="col-lg-3">

            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">
                {{# each products}}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{this.imgSrc}}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{this.name}}</a>
                            </h4>
                            <h5>€{{this.price}}</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
File contents are unchanged.