<div>
    <form action="/" method="post">
      Order by
      <select id="orderby" name="orderby">
          <option value="default" label="None" selected="selected"></option>
          <option value="priceasc">Price low to high</option>
          <option value="pricedes">Price high to low</option>
          <option value="titleasc">Title A-Z</option>
          <option value="titledes">Title Z-A</option>
      </select>
      Manufacturer
      <select id="manufacturer" name="manufacturer">
          <option value="default" label="None" selected="selected"></option>
          <option value="johns arts and crafts">Johns arts and crafts</option>
          <option value="pencil specalists">Pencil specalists</option>
          <option value="Paint and co.">Paint and co.</option>
          <option value="star inc.">Star inc.</option>
      </select>
      Catogory
      <select id="catogory" name="category">
          <option value="default" label="None" selected="selected"></option>
          <option value="marker">Marker</option>
          <option value="paper">Paper</option>
          <option value="paint">Paint</option>
          <option value="accesories">Accesories</option>
      </select>
      Price
      <select id="price" name="price">
          <option value="default" label="None" selected="selected"></option>
          <option value="5">0-5</option>
          <option value="10">5-10</option>
          <option value="15">10-15</option>
          <option value="20">15-20</option>
          <option value="more">20-more</option>
      </select>
      <input type="submit" value="Order">
    </form
</div>

<div class="row">

  <div class="col-lg-3">

    <div class="list-group">
      <a href="#" class="list-group-item">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div class="row">
      {{# each products}}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{this.imgSrc}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{this.name}}</a>
              </h4>
              <h5>€{{this.price}}</h5>
              <p class="card-text">A description that would tell about this product!</p>
              <p class="card-text font-italic">Manufacturer: {{this.manufacturer}}</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
